.header{
    &__nav{
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        
        &__div{
            box-shadow: none;
            &__logo{
                img{
                    height: 20rem;
                    margin-top: 2rem;
                    margin-left: 5rem;
                }    
            }
            &__ul{
                width: 70rem;
                height: 8rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background:	rgba(84, 76, 60, 0.788);
                margin-top: 5rem;
                border-radius: 2rem 0rem  0rem 2em;
                li{
                    a{
                        font-size: 2.5rem;
                        color: white;
                    }                  
                }
            }
        }
    }
}
